@import "mocha.css";

* {
  border: none;
  border-radius: 10;
  font-family: "FantasqueSansMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

#network {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#network:hover {
  color: @base80;
  background: @lavender;
}

#custom-keybinds {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @lavender;
  background: @base80;
  transition: 0.3s;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
}

#custom-keybinds:hover {
  background: @lavender;
  color: @base80;
}

#cava {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#cava:hover {
  color: @base80;
  background: @lavender;
}

#battery {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#battery:hover {
  color: @base80;
  background: @lavender;
}

#backlight:hover {
  color: @base80;
  background: @lavender;
}

#backlight {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#language {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#language:hover {
  color: @base80;
  background: @lavender;
}

#pulseaudio {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  padding: 8px;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#pulseaudio:hover {
  background: @lavender;
  color: @base80;
}

#pulseaudio.muted {
  color: @lavender;
  background: @base80;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#pulseaudio.muted:hover {
  background: @lavender;
  color: @base80;

}

#clock {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#clock:hover {
  color: @base80;
  background: @lavender;
}

#disk {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#disk:hover {
  color: @base80;
  background: @lavender;
}

#privacy {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#idle_inhibitor {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#idle_inhibitor.activated {
  color: #89b4fa;
  border-color: #89b4fa;
}

#idle_inhibitor.activated:hover {
  background: #89b4fa;
  color: @base80;
  border-color: #89b4fa;
}

#idle_inhibitor.deactivated {
  color: @lavender
}

#idle_inhibitor.deactivated:hover {
  color: @base80;
  background: @lavender;
}

#memory {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#memory:hover {
  color: @base80;
  background: @lavender;

}

#cpu {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#cpu:hover {
  color: @base80;
  background: @lavender;

}

#custom-launcher {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 17px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: @lavender;
  background: @base80;
  transition: 0.3s;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
}

#custom-launcher:hover {
  background: @lavender;
  color: @base80;
}

#network.disconnected {
  color: @lavender;
  background: @base80;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
}

#network.disconnected:hover {
  background: @lavender;
  color: @base80;
}

#custom-power {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 17px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#custom-power:hover {

  background: @lavender;
  color: @base80;
  border-color: @lavender;

}

#workspaces {
  margin-top: 10px;
  margin-left: 8px;
  padding-right: 4px;
  background: @base80;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  color: @lavender;
  transition: 0.3s;
}

#workspaces button {
  color: @lavender;
  transition: 0.3s;
}

#workspaces button:hover {
  background: transparent;
  color: transparent;
}

#tray {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}

#tray menu {
  margin-top: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: @base80;
  color: @lavender;
  border-bottom: 3px;
  border-style: solid;
  border-color: @lavender;
  transition: 0.3s;
}
